extends layout

block content
  h1 kRABO
  p Save after each edit.
  
  each val in configs
    form(action="/save", method="post")
      div.form-group
        label(for="url") localhost:3000            
        input(type="text", id='url' name='url' value=val.endpoint disabled)
        br
        input(type="hidden", id='id' name='id' value=val.id)
        label(for="path") Local folderpath:
        input(type="text", id='path' placeholder='Folderpath' name='path' value=val.path)
        br
        button.btn.btn-primary(type='submit') Speichern
  br
  <a href="https://icons8.com/icon/46678/modul">Modul icon by Icons8</a>
