doctype html
html
  head
    title kRABO
    link(rel="icon" href="https://img.icons8.com/dusk/64/000000/module.png")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
