body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form {
  width: 800px;
}

div.form-group{
  margin-bottom: 10px;
  border-color: black;
  border-style: dotted;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

button.btn.btn-primary{
  margin-top: 10px;
  margin-left: 114px;
}

input#url{
  margin-left: 20px;
}

input#path{
  width: 500px;
  margin-left: 10px;
  margin-top: 5px;
}